<ng-container
  *ngIf="!hasViewClicked; then dashboardTemplate; else detailsTemplate"
></ng-container>

<ng-template #dashboardTemplate>
  <h2>Product Dashboard</h2>

  <div class="dashboard">
    <!-- DataGrid to display the detailed data -->
    <div class="data-grid-container">
      <dx-data-grid
        [dataSource]="data"
        [showBorders]="true"
        (onRowClick)="onRowClick($event)"
      >
        <dxi-column dataField="id" [width]="80" [visible]="false"></dxi-column>
        <dxi-column dataField="name" [width]="150"></dxi-column>
        <dxi-column dataField="description" [width]="150"></dxi-column>
        <dxi-column dataField="category" [width]="120"></dxi-column>
        <dxi-column dataField="price" [width]="100"></dxi-column>
      </dx-data-grid>
    </div>
  </div>
</ng-template>

<ng-template #detailsTemplate>
  <app-details
    [Id]="rowId"
    (onDataChange)="onDetailDataChange($event)"
  ></app-details>
</ng-template>
