<div class="details-container">
  <h2>Product Details</h2>
  <form>
    <table>
      <tr>
        <td>
          <label for="name">Name:</label>
        </td>
        <td colspan="1">
          <input type="text" id="name" [(ngModel)]="rowData.name" name="name" />
          <br />
        </td>
      </tr>
      <tr>
        <td>
          <label for="description">Description:</label>
        </td>
        <td colspan="1">
          <input
            type="text"
            id="description"
            [(ngModel)]="rowData.description"
            name="description"
          />
          <br />
        </td>
      </tr>
      <tr>
        <td>
          <label for="category">Category:</label>
        </td>
        <td colspan="1">
          <input
            type="text"
            id="category"
            [(ngModel)]="rowData.category"
            name="category"
          />
          <br />
        </td>
      </tr>
      <tr>
        <td>
          <label for="price">Price:</label>
        </td>
        <td colspan="1">
          <input
            type="number"
            id="price"
            [(ngModel)]="rowData.price"
            name="price"
          />
          <br />
        </td>
      </tr>
      <tr>
        <td style="padding-left: 100px">
          <button type="button" (click)="backToDashboard()">Back</button>&nbsp;
          <button type="button" (click)="updateData()">Update</button>&nbsp;
          <button type="button" (click)="deleteData()">Delete</button>
        </td>
      </tr>
    </table>
  </form>
</div>
