<div class="details-container">
        <h2>Dashboard Details</h2>
        <form>
          <label for="name">Name:</label>
          <input
            type="text"
            id="name"
            [(ngModel)]="rowData.name"
            name="name"
          />
          <br />
      
          <label for="description">Description:</label>
          <input
            type="text"
            id="description"
            [(ngModel)]="rowData.description"
            name="description"
          />
          <br />
      
          <label for="category">Category:</label>
          <input
            type="text"
            id="category"
            [(ngModel)]="rowData.category"
            name="category"
          />
          <br />
      
          <label for="price">Price:</label>
          <input
            type="number"
            id="price"
            [(ngModel)]="rowData.price"
            name="price"
          />
          <br />
      
          <button type="button" (click)="backToDashboard()">Back</button>
          <button type="button" (click)="updateData()">Update</button>
          <button type="button" (click)="deleteData()">Delete</button>
        </form>
  </div>
  